body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  color: #36454f;
  margin: 0;
  padding: 0 20px;
}
p,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav li {
  list-style-type: none;
  margin-left: 20px;
  position: relative;
}
.app {
  padding: 8px;
  background-color: #36454f;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.sign {
  padding: 8px;
  background-color: #36454f;
  color: white;
  border-radius: 8px;
}

nav a {
  color: #777;
  font-weight: 300;
}

.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2em;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 50px;
}

h1 {
  text-align: left;
  color: #36454f;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1.5em;
}

label {
  font-weight: bold;
  margin-bottom: 0.5em;
  display: block;
}

input {
  width: 100%;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

input:focus {
  outline: none;
  border-color: #36454f;
}

.submit-btn {
  padding: 0.75em;
  background-color: #36454f;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #1e3838;
}

.form-error {
  margin-top: 1em;
  color: red;
  text-align: left;
}

.form-error p {
  margin: 0;
}
footer {
  margin-top: auto;
  text-align: center;
  color: #36454f;
  padding: 1em 0;
  width: 100%;
  font-size: 0.9em;
  position: relative;
  bottom: 0;
}

#year {
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .site-title {
    font-size: 12px;
  }
  .sign {
    padding: 6px;
  }

  .app {
    margin-top: 10px;
    padding: 6px;
    display: inline-block;
  }
  .content {
    font-size: 20px;
    font-weight: 500;
  }
}
